.covid {
  color: #f8fafc;
  font-family: Bree Serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
}
.country {
  color: #3b82f6;
}
.tg {
  color: #94a3b8;
  font-family: Roboto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
}
.icon {
  text-align: center;
  color: #cbd5e1;
  font-family: Roboto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin: 0px 30px;
  font-size: 50px;
  line-height: 50px;
}
